# Filecoin Calibration Testnet
NEXT_PUBLIC_FILECOIN_RPC_URL=https://api.calibration.node.glif.io/rpc/v1
FILECOIN_PRIVATE_KEY=your_filecoin_private_key_here
NEXT_PUBLIC_FILECOIN_EXPLORER=https://calibration.filfox.info

# NEAR Testnet
NEXT_PUBLIC_NEAR_RPC_URL=https://rpc.testnet.near.org
NEAR_PRIVATE_KEY=your_near_private_key_here
NEXT_PUBLIC_NEAR_EXPLORER=https://explorer.testnet.near.org
NEXT_PUBLIC_NEAR_ACCOUNT_ID=cyberpunk.testnet

# Ethereum Sepolia Testnet
NEXT_PUBLIC_ETHEREUM_RPC_URL=https://sepolia.infura.io/v3/your_project_id
ETHEREUM_PRIVATE_KEY=your_ethereum_private_key_here
NEXT_PUBLIC_ETHEREUM_EXPLORER=https://sepolia.etherscan.io

# Polygon Mumbai Testnet
NEXT_PUBLIC_POLYGON_RPC_URL=https://polygon-mumbai.infura.io/v3/your_project_id
POLYGON_PRIVATE_KEY=your_polygon_private_key_here
NEXT_PUBLIC_POLYGON_EXPLORER=https://mumbai.polygonscan.com

# Sponsor API Keys
NEXT_PUBLIC_WEATHERXM_API_KEY=your_weatherxm_api_key
NEXT_PUBLIC_MOSAIA_API_KEY=your_mosaia_api_key
NEXT_PUBLIC_PINATA_API_KEY=your_pinata_api_key
NEXT_PUBLIC_PINATA_SECRET_KEY=your_pinata_secret_key
NEXT_PUBLIC_BIO_AI_API_KEY=your_bio_ai_api_key
NEXT_PUBLIC_REPPO_API_KEY=your_reppo_api_key
NEXT_PUBLIC_SPEXI_API_KEY=your_spexi_api_key

# Demo Mode
NEXT_PUBLIC_DEMO_MODE=true
NEXT_PUBLIC_SHOW_SPONSOR_LOGS=true 